
        body{
            margin: 0px;
        }
        *{
            font-family: Inter,sans-serif;
        }
        #Recharge,#Book{
            color: aliceblue;
        }
        #Recharge>div{
            display: flex;
            background-color:#00baf2;
        }
        #Recharge>:nth-child(1){
            padding: 25px 120px 3px;
        }
        #Recharge>:nth-child(2){
            padding: 3px 100px 50px;
        }
        #Recharge>:nth-child(2)>div{
            margin: auto;
        }
        #Book>div{
            display: flex;
            background-color:#0d3e80;
        }
        #Book>:nth-child(1){
            padding: 10px 120px 5px;
        }
        #Book>:nth-child(2){
            padding: 5px 100px 50px;
        }
        #Book>:nth-child(2)>div{
            margin: auto;
        }
        #container1{
            font-size: 38px;
            font-weight: bold;
        }
        #container2{
            font-size: 38px;
            font-weight: bold;
        }
        .icon{
            height: 62px;
            width: 62px
        }
        .service{
            height: 150px;
            width :130px;
            padding: 15px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
        }
        .service>div{
            margin-bottom: 5px;
        }
        .service:hover{
            background-color: #08a2d1;
        }
        .book:hover{
            background-color: #0d2544;
        }
        .service>div:last-child{
            display: inline-flex;
        }
        .service>div:last-child>div{
            margin-left: 6px;
        }
        #top{
            display: flex;
            padding: 50px 0px 50px 0px;
            justify-content: space-between;
            align-items: center;
        }
        #top>div{
            width: 500px;  
        }
        #leftintro{
            padding: 100px;
        }
        #rightintro{
            
        }
        #leftintro>div>img{
            height: 100px;
        }
        #leftintro>div>p:nth-child(1){
            font-size: 50px;
            margin-top: 40px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        #leftintro>div>p:nth-child(2){
            font-size: 20px;
            font-weight: 500;
        }
        #rightintro>div>img{
            height: 500px;    
        }
        #leftintro>div>button{
            padding: 10px;
            border-radius: 20px;
        }
        